body {
    margin: 0;
}

body > header {
    background-color: blue;
    background-image: linear-gradient(#121ec7, #26fff4);
}


body > header > h1 {
    text-align: center;
    margin: 10px;
}

body > section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

body > section > div {
    margin: 80px;
}

body > section > div > h3 {
    margin: 40px;
    text-align: center;
}

body > h2 {
    text-align: center;
}

